apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  type: NodePort
  selector:
    app: moji-backend
  ports:
  - port: 80          # port bên trong Cluster
    targetPort: 5001  # port trong container (server.js)
    nodePort: 30051   # port trên node Minikube
