apiVersion: v1
kind: Service
metadata:
  name: frontend-service
spec:
  type: NodePort
  selector:
    app: moji-frontend
  ports:
  - port: 80        # port trong cluster
    targetPort: 80  # port container (Nginx)
    nodePort: 30036 # port bên ngoài node
